# Entorno / secretos
.env

# Python artefactos
*.pyc
**/__pycache__*
.pytest_cache

# Docs / empaquetado / build
apidocs
MANIFEST
dist
build
leverage.egg-info
coverage
.coverage

# Proyectos/IDE
.project
.pydevproject
.ropeproject
.python-version
.vscode
.idea
.DS_Store

# Otros
*.out
