[
  {
    "username": "broker_demo",
    "password": "DemoPass123!",
    "email": "broker@demo.local",
    "name": "Demo Broker"
  },
  {
    "username": "investor_demo",
    "password": "DemoPass456!",
    "email": "investor@demo.local",
    "name": "Demo Investor"
  },
  {
    "username": "advisor_demo",
    "password": "DemoPass789!",
    "email": "advisor@demo.local",
    "name": "Demo Advisor"
  }
]
